<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
      <br />
    <h1> Learn Magic from the Pros </h1>
      <br />
    <h2> I'm an illusionist, Michael. </h2>
      <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>  
</div>

<br />
<div class="row feature test-center">
  <div class="col-12 col-sm">
    <h3> Instructional Courses </h3>
      <br />
    <p> Choose from any number of detailed, instructional courses to study with a qualified teacher. </p>
  </div>

  <div class="col-12 col-sm">
    <h3> Personalize Your Pace </h3>
      <br />
    <p> Enrollment guarentees access to a library of archived course lessons. </p>
  </div>

  <div class="col-12 col-sm">
    <h3> Join the Community </h3>
      <br />
    <p> Learn and grow with a community of like-minded, driven individuals. </p>
  </div>
</div>