<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
      <br />
    <h1> Wellness at Work </h1>
      <br />
    <h2> workouts, recipes and tips for the girl on the go </h2>
      <br />
    <%= link_to 'get started', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>  
</div>

<!--- Utilizing Bootstrap Grid System for Program Features ---->

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3> Lifestyle </h3>
      <br />
    <p> Health isn't limited to fitness and nutrition. Dive into our lifestyle courses to see how you can make an impact in the world beyond these common qualifiers.  </p>
  </div>

  <div class="col-12 col-sm">
    <h3> Fitness </h3>
      <br />
    <p> No matter how you prefer to get moving, we've got the workout for you! Our expansive database of workouts will leave you feeling refreshed, renewed, and ready to tackle whatever life throws at you next. </p>
  </div>

  <div class="col-12 col-sm">
    <h3> Nutrition </h3>
      <br />
    <p> The foundation of a healthy lifestyle begins with nutrition. Learn the basics or level up to master chef with our series of courses dedicating to fueling your body properly. </p>
  </div>
</div>