<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center" style="font-family: Helvetica Neue; font-weight: 200;"> Learn Something Today! </h1>
  <br />

<% @courses.each do |course| %>
  <h2 class="text-center" style="font-family: Helvetica Neue; font-weight: 200;">
    <%= link_to course.title, course_path(course), class: 'link' %>
  </h2>
  <br />

<% if @course %>
  <%= image_tag @course.image.url, class: 'image-fluid' %>
<br />
<% end %>

  <div class="row" style="font-family: Helvetica Neue; font-weight: 300;">
    <div class="col-sm-8 col-12">
      <%= course.description %>
    </div>

  <div class="col-sm-4 col-12 text-center">
    <%= link_to 'More Details', course_path(course), class: 'btn btn-primary btn-large' %>
  </div>

</div>
<br class="clr" />
  <% end %>



</div>